<ion-header>
    <ion-toolbar>
        <ion-title>
            Buscar Película
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-toolbar>
    <ion-searchbar placeholder="Buscar película" (ionChange)="search($event)" animated debounce="700" [value]="textoBuscar"></ion-searchbar>
</ion-toolbar>

<ion-content [fullscreen]="true">
    <ion-grid fixed>
        <ion-row *ngIf="results.length === 0 && textoBuscar.length != 0">
            <ion-col style="text-align: center;">
                <ion-spinner name="crescent"></ion-spinner>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-list *ngIf="results.length === 0 && textoBuscar.length === 0">
        <ion-list-header>
            <ion-label>Ideas</ion-label>
        </ion-list-header>
        <ion-item (click)="textoBuscar=idea" *ngFor="let idea of ideas">
            <ion-label color="primary">{{idea}}</ion-label>
        </ion-item>
    </ion-list>

    <ion-grid fixed>
        <ion-row>
            <ion-col size="6" *ngFor="let movie of results" (click)="seeDetail(movie.id)">
                <ion-card>
                    <img *ngIf="!movie.poster_path" src="" alt="">
                    <img *ngIf="movie.poster_path" [src]="movie.poster_path | image" alt="">
                    <ion-card-header>
                        <ion-card-subtitle>{{movie.release_date}}</ion-card-subtitle>
                    </ion-card-header>
                    <ion-card-content>
                        <h2>{{movie.title}}</h2>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
