<ion-header [translucent]="true">
    <ion-grid fixed>
        <ion-row>
            <ion-col>
                <h3>Favoritos</h3>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-header>

<ion-content [fullscreen]="true">


    <div *ngFor="let item of orderedMovies">
        <ion-grid fixed>
            <ion-row>
                <ion-col size="12">
                    {{item.genre}}
                </ion-col>
            </ion-row>
        </ion-grid>
        <app-slideshow-poster [recentMovies]="item.movies"></app-slideshow-poster>
    </div>
</ion-content>
